@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Kanit:wght@100&family=Orbitron:wght@400;500;600;700;800;900&family=Rowdies:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Rowdies:wght@300;400;700&display=swap');


:root{

    --clr-1:#9400FF;
    --clr-0:#00E0FF;
    --clr-2:#27005D;
    --clr-3:#AED2FF;
    --clr-4:#E4F1FF;
    --clr-5:#7dcfff;
    --clr-6:#fdb8f8;
    --clr-7:rgb(0, 213, 255);
    --clr-8:#222831;
    --clr-9:#393E46;
    --clr-10:#00ADB5;
    --clr-11:#EEEEEE;
}
* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: var(--clr-8);
    color: #fff;
    background-image: url('background/3.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
#title{
    font-size: 35px;
    padding-left: 5px;
}
.wrapper {
    background-color: #00000075;
    font-family: 'Rowdies';
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;

}

.nav-title{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}
.nav-title-1{
    color: #fff;
    text-decoration: none;
}
.nav-title-1::first-letter{
    color: var(--clr-10);
}
.hh{
    display: inline-flex;
    color: var(--clr-0);
}
.navbar {
    display: inline-flex;
    display: flex;
}
#logo{
    height: 25px;
    width: 40px;
    padding-right: 5px; 
}


li {
    font-family: 'Orbitron';
    font-weight: bolder;
    padding-right: 10px;
    list-style-type: none;
    display: inline-flex;
    position: relative;
    right: 0;
    
}
.nav-title:hover{
    color: var(--clr-7);
    text-decoration: dashed;
}

.nav-title-active{
    padding-left:5px ;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-right:5px ;
    border-radius: 5px;
    color: #000;
    border: 1px solid;
    background-color: var(--clr-0);
    text-decoration: none;
    box-shadow: 0px 0px 20px var(--clr-0);
    transition:box-shadow 0.2s ease-in-out,  background-color 0.2s ease-in-out,color 0.2s ease-in-out;
}
.nav-title-active:hover{
    background-color: #000;
    color: var(--clr-0);
    box-shadow: none;
}

.lang-group{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.logo-format{
    height: 70px;
    width: 70px;
    padding: 20px;
}
.lang-info{
    border: 2px solid var(--clr-0);
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    padding-bottom: 10px;
    font-family: 'Exo 2';
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
}
.lang-info:hover{
    background-color: #222831;
    box-shadow: 0px 0px 25px var(--clr-0);
}
.foot-bar{
    font-family: 'Exo 2';
    color: #fff;
    padding: 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-github{
    text-decoration: none;
    color: var(--clr-0);
}